<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>{{ application.violation.car_plate.plate_number }}_{{ application.violation.violation_type.name }}_от_{{ captured_date }}.pdf</title>
    <style>
        body {
            font-family: Times, Arial, sans-serif;
            font-size: 12pt;
            margin: 0;
            padding: 0;
            width: 210mm !important;
            height: 297mm !important;
        }
        @page {
            size: A4;
            margin: 0;
            padding: 0;
        }
        .page {
            padding: 10mm 20mm 10mm 20mm;
            position: relative;
            page-break-after: always;
        }
        .header {
            padding: 0;
            width: 70%;
            margin: 0 0 0 auto;
            display: block;
        }
        .body {
            padding: 0;
            width: 100%;
            margin: 10mm 0 0;
            display: block;
        }
        .justify {
            text-align: justify;
        }
        .signature {
            width: 100%;
            border-bottom: 1px solid #000;
            margin: 20mm 0 0;
            padding: 0;
            text-align: right;
            position: relative;
            display: block;
            height: 10mm !important;
        }
        .signature .date-column {
            width: 30mm;
            float: left;
            text-align: left;
            padding-top: 5px;
            height: 10mm !important;
        }
        .signature .scan-column {
            margin: 0;
            padding: 0;
            width: 100mm;
            text-align: center;
        }
        .signature .initials-column {
            margin: 0;
            padding: 0;
            width: 70mm;
            float: right;
            text-align: right;
            height: 10mm !important;
        }
        .center {
            text-align: center !important;
        }
        img.signature-image {
            margin: 0;
            padding: 0;
            max-width: 4cm;
            max-height: 4cm;
            width: auto;
            height: auto;
            position: absolute;
            left: 50%;
            transform: translateY(-50%) translateX(-30mm);
        }
        .watermark {
            margin: 0;
            position: absolute;
            bottom: 1px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 10px;
            font-weight: bold;
            color: #000000;
            background-color: rgba(255, 255, 255, 0.5);
            padding: 5px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            text-align: left;
        }
        .violation-photo-wrapper {
            position: relative;
            text-align: center;
            max-width: 100%;
            max-height: 200mm;
            margin: 0 auto;
            overflow: hidden;
        }
        img.photo-image {
            width: 100%;
            height: auto;
            max-height: 190mm;
            display: block;
            margin: 0 auto;
            object-fit: scale-down;
        }
    </style>
  </head>
  <body>
    <div class="page">
      <div class="header">
        <p>Кому: {{ application.powers.authority.dative_recipient }},<br>
          Куда: {{ application.powers.authority.dative_name }},<br>
          Адрес: {{ application.powers.authority.address }},<br>
          E-mail: {{ application.powers.authority.email }}</p>
        <hr>
        <p>Заявитель: {{ application.applicant.last_name }} {{ application.applicant.first_name }} {{ application.applicant.patronymic }};<br>
          Паспорт: {{ application.applicant.identity_document }};<br>
          Адрес: {{ application.applicant.registration_address }};<br>
          Тел.сот.: {{ application.applicant.phone_number }};<br>
          Эл.почта: {{ applicant_email }};</p><br>
      </div>
      <div class="body">
        <p class="center"><strong>ЗАЯВЛЕНИЕ</strong></p>
        <p class='justify'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ application_text }}</p>
      </div>
      <div class="signature">
        <div class="date-column">{{ application_date }}</div>
        <div class="scan-column">
          <img class="signature-image" src="{{ application.applicant.sign_scan.url }}" alt="signature">
        </div>
        <div class="initials-column">
          {{ applicant_name }}
        </div>
      </div>
    </div>

    <div class="page">
      <div class="header">
        <p><strong>Приложение №1 к заявлению от {{ application_date }} о привлечении к административной ответственности собственника автомобиля с гос. номером: {{ application.violation.car_plate.plate_number }}</strong></p>
      </div>
      <div class="body">
        <p class="center"><strong>Фотофиксация нарушения с указанием даты, времени и координат места совершения правонарушения:</strong></p>
        <div class="violation-photo-wrapper">
          <img src="{{ application.violation.car_plate.photo.src_photo.url }}" alt="violation-photo" class="photo-image">
          <div class="watermark">
            Х: {{ coords_x }} Y: {{ coords_y }}<br>
            D: {{ captured_date }} T: {{ captured_time }}
          </div>
        </div>
      </div>
      <div class="signature">
        <div class="date-column">{{ application_date }}</div>
        <div class="scan-column">
          <img class="signature-image" src="{{ application.applicant.sign_scan.url }}" alt="signature">
        </div>
        <div class="initials-column">
          {{ applicant_name }}
        </div>
      </div>
    </div>
    {% if application.violation.car_plate.photo.panorama_shot.name %}
    <div class="page">
      <div class="header">
        <p><strong>Приложение №2 к заявлению от {{ application_date }} о привлечении к административной ответственности собственника автомобиля с гос. номером: {{ application.violation.car_plate.plate_number }}</strong></p>
      </div>
      <div class="body">
        <p class='center'>Панорамный снимок места совершения правонарушения, для уточнения местоположения и иных деталей, имеющих значение при принятии решения о привлечении к ответственности.</p>
        <div class="center">
          <img src="{{ application.violation.car_plate.photo.panorama_shot.url }}" alt="panorama-shot" class="photo-image">
        </div>
      </div>
      <div class="signature">
        <div class="date-column">{{ application_date }}</div>
        <div class="scan-column">
          <img class="signature-image" src="{{ application.applicant.sign_scan.url }}" alt="signature">
        </div>
        <div class="initials-column">
          {{ applicant_name }}
        </div>
      </div>
    </div>
    {% endif %}
  </body>
</html>
