{# This template is used to redirect the user to the OAuth2 provider for sign-in. It is used in the OAuth2 flow #}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href='https://{{ APP_DOMAIN }}/favicon.ico'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="refresh" content="1;url={{ redirect_url }}">
    <title>{% trans "Sign-in with OAuth2 to OinkOinkCar" context "Redirect to OAuth2 page" %}</title>
    <meta name="description" content="Социальный проект по борьбе с нарушениями автомобилистов, связанными со стоянкой или остановкой в неположенных местах.">
    <meta name="keywords" content="ХрюХрюКар. Парковка. Автомобиль. Штраф. Зеленая зона. Тротуар.">
    <meta name="author" content="'Answer 42' Team">
    <style>
        #loading-container {
            width: 300px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @media (min-width: 768px) {
            #loading-container {
                width: 512px;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        #loading-img {
            max-width: 100%;
            height: auto;
        }
        .progress-bar {
            height: 4px;
            background-color: rgba(5, 114, 206, 0.2);
            width: 100%;
            overflow: hidden;
        }

        .progress-bar-value {
            width: 100%;
            height: 100%;
            background-color: rgb(5, 114, 206);
            animation: indeterminateAnimation 1s infinite linear;
            transform-origin: 0% 50%;
        }

        .loading-text {
            display: block;
            text-align: center;
            margin-top: 20px;
            font-size: 14px;
        }

        @keyframes indeterminateAnimation {
            0% {
                transform:  translateX(0) scaleX(0);
            }
            40% {
                transform:  translateX(0) scaleX(0.4);
            }
            100% {
                transform:  translateX(100%) scaleX(0.5);
            }
        }
    </style>
</head>
<body>
<div id="loading-container">
    <img src="https://{{ APP_DOMAIN }}/vertical_logo.png" alt="OinkOInkCarLogo" id="loading-img">
    <div class="progress-bar">
        <div class="progress-bar-value"></div>
    </div>
    <span id='loading-text' class='loading-text'>
        <p>
           {% trans "Redirecting to the OAuth2 provider for sign-in... If the automatic redirect does not work, you can use this" context "Redirect to OAuth2 page" %}<a href="{{ redirect_url }}">{% trans "link" context "Redirect to OAuth2" %}</a>.
        </p>
    </span>
</div>
</body>
</html>
