:root {
  --header-height: 60px;
}

html, body {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  height: 100vh !important;
  width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
}

#app {
  width: 100vw !important;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  width: 100% !important;
  height: 100vh !important;
}

::-webkit-scrollbar {
  width: 0 !important;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.ol-attribution {
  display: none !important;
}

.rounded-top-5 {
  border-top-left-radius: var(--mdb-card-inner-border-radius) !important;
  border-top-right-radius: var(--mdb-card-inner-border-radius) !important;
}

.modal-bottom {
  .modal-content {
    border-radius: 0 !important;
  }
}
