<template>
  <div class="map-wrapper">
    <MDBModal v-model="carParkModalVisible" centered @hidden="clearCarParkState">
      <MDBCard>
        <div class='hstack gap-2 ms-0 me-0 ps-2 pe-2 top-buttons'>
          <MDBBtn class='me-auto ms-0' color="light" tag="a" target="_blank" :href="URL_OF_FORM_TO_EDIT_CAR_PARK" size="sm">
            {{ $t('content.reportInaccuracy') }}
          </MDBBtn>
          <MDBBtn class='ms-auto me-0' color="primary" @click="carParkModalVisible = false" size="sm">
            {{ $t('content.close') }}
          </MDBBtn>
        </div>
        <MDBCardImg v-if="carParkImage" top :src="carParkImage" style="min-height: 200px;"/>
        <MDBCardBody class="pt-0 pb-0">
          <MDBListGroup light>
            <MDBListGroupItem class="d-flex justify-content-between align-items-center" v-if="carParkAddress">
              <div class="d-flex align-items-center">
                <img src="/address.png" :alt="$t('content.address')" style="width: 45px; height: 45px" class="rounded-circle"/>
                <div class="ms-3">
                  <p class="fw-bold mb-1"> {{ carParkAddress }}</p>
                  <p class="text-muted mb-0">{{ $t('content.address') }}</p>
                </div>
              </div>
            </MDBListGroupItem>
            <MDBListGroupItem class="d-flex justify-content-between align-items-center" v-if="carParkFreeSpaces">
              <div class="d-flex align-items-center">
                <img src="/park-spaces.png" :alt="$t('content.spaces')" style="width: 45px; height: 45px" class="rounded-circle"/>
                <div class="ms-3">
                  <p class="fw-bold mb-1">
                    {{ $t('content.empty') }}: {{ carParkTotalSpaces ? carParkFreeSpaces + ' ' + $t('content.outOf') + ' ' + carParkTotalSpaces : carParkFreeSpaces }} {{ $t('content.space') }}
                  </p>
                  <p class="text-muted mb-0">{{ $t('content.spaces') }}</p>
                </div>
              </div>
            </MDBListGroupItem>
            <MDBListGroupItem class="d-flex justify-content-between align-items-center" v-if="carParkMonthlyRent">
              <div class="d-flex align-items-center">
                <img src="/rent.png" :alt="$t('content.monthlyRent')" style="width: 45px; height: 45px" class="rounded-circle"/>
                <div class="ms-3">
                  <p class="fw-bold mb-1"> {{ carParkMonthlyRent }} {{$t('content.rubPerMonth')}}</p>
                  <p class="text-muted mb-0">{{ $t('content.monthlyRent') }}</p>
                </div>
              </div>
            </MDBListGroupItem>
            <MDBListGroupItem class="d-flex justify-content-between align-items-center" v-if="carParkPhone">
              <div class="d-flex align-items-center">
                <img src="/phone.png" :alt="$t('content.phone')" style="width: 45px; height: 45px" class="rounded-circle"/>
                <div class="ms-3">
                  <p class="fw-bold mb-1"> {{ carParkPhone }}</p>
                  <p class="text-muted mb-0">{{ $t('content.phone') }}</p>
                </div>
              </div>
            </MDBListGroupItem>
          </MDBListGroup>
        </MDBCardBody>
        <MDBCardFooter class="text-muted text-center" v-if="carParkLastUpdate">
          {{ $t('content.updated') }} {{ carParkLastUpdate }}
        </MDBCardFooter>
      </MDBCard>
    </MDBModal>
    <ol-map
      :loadTilesWhileAnimating="true"
      :loadTilesWhileInteracting="true"
      class="ol-map-block"
      @moveend="handleMapMoveEnd"
      ref="mapRef"
      renderer="webgl"
    >
      <ol-view ref="view" :center="center" :zoom="zoom" :projection='"EPSG:3857"'/>
      <ol-tile-layer>
        <ol-source-xyz ref="sourceRef" :url="tileLayerUrl"/>
      </ol-tile-layer>

      <ol-vector-layer>
        <ol-source-vector
            :url="mapStore.carParksUrl"
            :format="geoJson"
            @featuresloadstart="mapStore.loadingStarted"
            @featuresloadend="mapStore.loadingEnded"
        />
        <ol-style :overrideStyleFunction="overrideCarParkStyleFunction" />
      </ol-vector-layer>
      <ol-interaction-select
          @select="carParkFeatureSelected"
          :filter="carParksFilter"
          ref="carParksSelectorRef"
      >
        <ol-style>
          <ol-style-stroke color="rgb(255,215,0)" :width="2"></ol-style-stroke>
          <ol-style-fill color="rgba(255,215,0,0.2)"></ol-style-fill>
        </ol-style>
      </ol-interaction-select>
    </ol-map>
  </div>
</template>
<script lang="ts">
import {defineComponent, inject, onMounted, ref, watch} from 'vue'
import { useMapStore } from '@/store/map'
import {
  MDBBtn,
  MDBModal,
  MDBModalBody,
  MDBBadge,
  MDBIcon,
  MDBCardText,
  MDBCard,
  MDBCardBody,
  MDBCardTitle,
  MDBCardFooter,
  MDBCardImg,
  MDBListGroup,
  MDBListGroupItem,
} from "mdb-vue-ui-kit";
import type Map from "ol/Map";
import type View from "ol/View";
import { convertExtentBack } from "@/helpers/functions";
import Feature from "ol/Feature";
import Stroke from 'ol/style/Stroke';
import Fill from 'ol/style/Fill';
import { SelectEvent } from 'ol/interaction/Select'
import { useAuthStore } from "@/store/auth";
import { useIfaceStore } from '@/store/iface';
import {URL_OF_FORM_TO_EDIT_CAR_PARK} from "@/helpers/constants/routes";
import type XYZ from "ol/source/XYZ";


export default defineComponent({
  setup() {
    const mapStore = useMapStore();

    const authStore = useAuthStore();
    const ifaceStore = useIfaceStore();

    const mapRef = ref<{ map: Map }>(null);
    const view = ref<View | null>(null);
    const map = ref<Map | null>(null);
    onMounted(() => {
      map.value = mapRef.value?.map;
      view.value = map.value?.getView();
    });

    const overrideCarParkStyleFunction = (feature: Feature, style) => {
      const lastState = feature.get("last_state");
      if (lastState && lastState?.free_spaces == 0) {
        style.setStroke(new Stroke({
          color: "rgba(255,0,0,1)",
          width: 4,
        }));
        style.setFill(new Fill({
          color: "rgba(255,0,0,0.2)",
        }));
      } else if (lastState && lastState?.free_spaces && lastState?.free_spaces > 1) {
        style.setStroke(new Stroke({
          color: "rgb(44,126,0)",
          width: 4,
        }));
        style.setFill(new Fill({
          color: "rgba(44,126,0,0.5)",
        }));
      } else {
        style.setStroke(new Stroke({
          color: "rgb(0,0,255)",
          width: 4,
        }));
        style.setFill(new Fill({
          color: "rgba(0,0,255,0.2)",
        }));
      }
      style.setZIndex(24000);
      return style;
    };

    const carParksFilter = (feature) => {
      return feature.get("features") == undefined && feature.get("type") != undefined && feature.get("address") != undefined;
    };

    const format = inject("ol-format");
    const geoJson = new format.GeoJSON();

    const carParkModalVisible = ref(false);
    const carParkImage = ref("");
    const carParkAddress = ref("");
    const carParkFreeSpaces = ref<null | number>(null);
    const carParkTotalSpaces = ref<null | number>(null);
    const carParkLastUpdate = ref("");
    const carParkMonthlyRent = ref<null | number>(null);
    const carParkPhone = ref<string | null>(null);

    const sourceRef = ref<{ source: XYZ }>(null);
    const tileLayerUrl = ref(mapStore.tileLayerUrl);

    watch(() => mapStore.tileLayerUrl, (newVal) => {
      sourceRef.value?.source?.setUrl(newVal);
      tileLayerUrl.value = newVal;
    });

    return {
      mapStore,
      ifaceStore,
      mapRef,
      view,
      map,
      overrideCarParkStyleFunction,
      carParksFilter,
      geoJson,
      authStore,
      carParkModalVisible,
      carParkImage,
      carParkAddress,
      carParkFreeSpaces,
      carParkTotalSpaces,
      carParkLastUpdate,
      carParkMonthlyRent,
      carParkPhone,
      tileLayerUrl,
      sourceRef,
    };
  },
  name: "MapContainer",
  data() {
    return {
      URL_OF_FORM_TO_EDIT_CAR_PARK,
    };
  },
  components: {
    MDBCardImg,
    MDBCardTitle,
    MDBCardBody,
    MDBCard,
    MDBCardText,
    MDBCardFooter,
    MDBIcon,
    MDBBtn,
    MDBModal,
    MDBModalBody,
    MDBBadge,
    MDBListGroup,
    MDBListGroupItem,
  },
  computed: {
    mapZoom(): number {
      return this.mapStore.mapZoom;
    },
    mapCenter(): [number, number] {
      return this.mapStore.mapCenter;
    },
    zoom: {
      get(): number {
        return this.mapZoom;
      },
      set(value: number) {
        this.setMapZoom(value);
      },
    },
    center: {
      get(): [number, number] {
        return this.mapCenter;
      },
      set(value: [number, number]) {
        this.setMapCenter(value);
      },
    },
  },
  methods: {
    showCarParkDetails(feature: Feature) {
      const lastState = feature.get("last_state");
      this.carParkImage = feature.get("photo");
      if(!this.carParkImage) {
        this.carParkImage = "/no-photo.png";
      }
      this.carParkAddress = feature.get("address") ?? "";
      this.carParkFreeSpaces = lastState?.free_spaces ?? null;
      this.carParkTotalSpaces = lastState?.total_spaces ?? null;
      this.carParkLastUpdate = lastState?.created_at ?? "";
      if(this.carParkLastUpdate) {
        this.carParkLastUpdate = new Date(this.carParkLastUpdate).toLocaleString();
      }
      this.carParkMonthlyRent = lastState?.monthly_rent ?? null;
      const publicInfo = feature.get("public_info");
      if(publicInfo?.phone_number) {
        this.carParkPhone = publicInfo?.phone_number;
      } else {
        this.carParkPhone = null;
      }
      this.carParkModalVisible = true;
    },
    clearCarParkState() {
      this.carParkImage = "";
      this.carParkAddress = "";
      this.carParkFreeSpaces = null;
      this.carParkTotalSpaces = null;
      this.carParkLastUpdate = "";
      this.carParkMonthlyRent = null;
    },
    setMapZoom(zoom: number) {
      this.mapStore.setMapZoom(zoom);
    },
    setMapCenter(center: [number, number]) {
      this.mapStore.setMapCenter(center);
    },
    handleMapMoveEnd() {
      const extent = this.view.calculateExtent(this.map.getSize());
      const extent4326 = convertExtentBack(extent);
      this.mapStore.setMapExtent4326(extent4326);
    },
    carParkFeatureSelected(event: SelectEvent) {
      if (event.selected?.length === 1) {
        this.showCarParkDetails(event.selected[0]);
      }
    },
  }
});
</script>
<style scoped lang="scss">
.map-wrapper {
  height: 100% !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.ol-map-block {
  flex-grow: 1;
}
.top-buttons {
  position: absolute;
  top: 10px;
  z-index: 2500;
  width: 100%;
}
</style>
