<script setup lang="ts">
import Header from "@/ui/layouts/Header.vue";
import { useAppStore } from '@/store/app'
import { useAuthStore } from '@/store/auth'
const appStore = useAppStore();
const authStore = useAuthStore();

appStore.waitForSiteLoaded().then(() => {
  appStore.updateSiteState();
  authStore.initStore().then(() => {
    console.log('Auth store initialized, we must be authenticated now!');
  });
});

</script>
<template>
  <Header />
  <div class="main-wrapper">
    <router-view />
  </div>
</template>
