<script setup lang="ts">
import MapContainer from "@/ui/containers/MapContainer.vue";
</script>
<template>
  <div class="content">
    <MapContainer />
  </div>
</template>
<style scoped lang="scss">
.content {
  flex-grow: 1 !important;
  display: flex;
  flex-direction: column;
}
</style>
