<script setup lang="ts">
import { MDBNavbar, MDBNavbarBrand } from "mdb-vue-ui-kit";
import { HOME_PATH } from '@/helpers/constants/routes'
import {useRouter} from "vue-router";

const router = useRouter();
const goHome = () => {
  router.push(HOME_PATH);
};

</script>

<template>
  <div class="header">
    <MDBNavbar container expand="lg" bg="light" class="d-flex justify-content-between nav-head">
      <MDBNavbarBrand @click="goHome" class="brand-container">
        <div class="logo">
          <img src='/logo.png' alt="logo" loading="lazy" />
        </div>
        <div class="title">
          <h5 class="title-text">{{$t('pageTitles.header')}}</h5>
          <h6 class="subtitle-text">{{$t('pageTitles.subtitle')}}</h6>
        </div>
      </MDBNavbarBrand>
    </MDBNavbar>
  </div>
</template>

<style scoped lang="scss">
.header {
  z-index: 200;
  height: var(--header-height);
}
.nav-head {
  padding-top: 4px;
  padding-bottom: 6px;
}
.brand-container {
  cursor: pointer;
  margin-right: auto !important;
  margin-left: 2px !important;
  display: flex;
  align-items: center;
  .logo {
    margin-right: 0.25em;
  }
  .title {
    display: flex;
    flex-direction: column;
    padding-left: 2px;
  }
  .title-text {
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #514e4e;
  }
  .subtitle-text {
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: #a0a0a0;
    text-transform: uppercase;
  }
  .logo img {
    width: 28px;
    height: 28px;
  }
}
</style>
