@font-face {
    font-family: 'Maler';
    src: url('@/ui/assets/fonts/Maler.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Veles';
    src: url('@/ui/assets/fonts/Veles.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
