@import "@/ui/assets/styles/fonts.css";

:root {
  --header-height: 84px;
}

html, body {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  height: 100vh !important;
  width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
}

#app {
  width: 100vw !important;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  width: 100% !important;
  height: 100vh !important;
}

::-webkit-scrollbar {
  width: 0 !important;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.ol-attribution {
  display: none !important;
}

.rounded-top-5 {
  border-top-left-radius: var(--mdb-card-inner-border-radius) !important;
  border-top-right-radius: var(--mdb-card-inner-border-radius) !important;
}

.hunting-vt-selector-col{
  .select-wrapper, .select-dropdown-container {
    width: calc(100vw - 96px) !important;
    max-width: 480px;
    .select-option-icon-container {
        img {
            width: 32px;
            height: 32px;
        }
    }
  }
}

.pano-shot {
  max-height: max-content !important;
  max-width: max-content !important;
  object-fit: cover !important;
}

.stepper-active {
  .stepper-content {
    min-height: auto !important;
  }
}

.modal-bottom {
  .modal-content {
    border-radius: 0 !important;
  }
}

.console-card {
  min-width: 21rem;
  max-width: 60rem;
}

.console-card-img-top {
  min-height: 21rem !important;
  max-height: 50vh !important;
}

.select-wrapper .form-outline .form-control {
  background-color: rgba(255, 255, 255, 0.50) !important;
  box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.50) !important;
}
